{
  "title" :             "mgutz-colors",
  "content_file" :      "README.md",
  "include_index" :     true,
  "docco_files" :       "lib/*.js",
  "header" :            "Paige.js",
  "subheader" :         "ANSI colors string library.",
  "background" :        "project-paper",
  "github" :            "https://github.com/mgutz/mgutz-colors"
}
